* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
}
.app_view {
  width: calc(100vw - 300px) !important;
  height: 100%;
  padding: 100px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.link {
  text-decoration: none;
  color: inherit;
}
.app {
  display: flex;
}
